<div class="confirmation-container">
  <div class="mt-4">
    <div class="confirmation-title">SUCCESS!</div>
    <div class="confirmation-row">
      Thank you, <b>{{ fullName }}</b>
    </div>
    <div class="confirmation-row">
      Your <b>${{ totalPrice }}</b> order is confirmed!
    </div>
    <div class="confirmation-row">
      Please allow 1-3 business day(s) for shipping.
    </div>
    <div class="confirmation-row">
      <a routerLink="/"> Return to product list </a>
    </div>
  </div>
</div>
